@model List<Fiap.Exemplo2.Web.MVC.Models.Pet>

@{
    ViewBag.Title = "Listar";
}

<h2>Lista de Pets</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Descriçao</th>
            <th>Data de Nascimento</th>
            <th>Castrado</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Descricao</td>
                <td>@item.DataNascimento</td>
                <td>@(item.Castrado == true?"Sim":"Não")</td>
            </tr>
        }
    </tbody>
</table>

